<a href="https://colab.research.google.com/github/fernandodalcin/DSWP/blob/DSWP_meus_nbs/Exercicio_cc_fraude.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercício 1 - Credit Card Fraud Detection
Source: [Credit Card Fraud Detection](https://www.kaggle.com/mlg-ulb/creditcardfraud)

### Leitura suporte
* [Detecting Credit Card Fraud Using Machine Learning](https://towardsdatascience.com/detecting-credit-card-fraud-using-machine-learning-a3d83423d3b8)
* [Credit Card Fraud Detection](https://towardsdatascience.com/credit-card-fraud-detection-a1c7e1b75f59)

### Dataframe
* [Creditcard.csv](https://raw.githubusercontent.com/MathMachado/DataFrames/master/creditcard.csv)

## **Importando Libraries**

In [34]:
from sklearn.metrics import confusion_matrix # para plotar a confusion matrix

from sklearn.model_selection import GridSearchCV # para otimizar os parâmetros dos modelos preditivos
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score # para medir a acurácia do modelo preditivo

# Importar classificador (critério, algoritmo, etc)
from sklearn.tree import DecisionTreeClassifier # Este é o classificador

from sklearn.model_selection import cross_val_score 

import pandas as pd
import numpy as np

In [35]:
df_cc = pd.read_csv('https://github.com/fernandodalcin/DSWP/blob/master/Dataframes/creditcard.csv?raw=true')
# opcional = 'https://raw.githubusercontent.com/fernandodalcin/DSWP/master/Dataframes/creditcard.csv'
df_cc.head(10)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
5     2 -0.425966  0.960523  1.141109  ...  0.253844  0.081080    3.67    0.0
6     4  1.229658  0.141004  0.045371  ...  0.034507  0.005168    4.99    0.0
7     7 -0.644269  1.417964  1.074380  ... -1.206921 -1.085339   40.80    0.0
8     7 -0.894286  0.286157 -0.113192  ...  0.011747  0.142404   93.20    0.0
9     9 -0.338262  1.119593  1.044367  ...  0.246219  0.083076    3.68    0.0

[10 rows x 31 columns]

## Tratando NaNs

In [36]:
df_cc.shape

(12842, 31)

In [37]:
df_cc.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [38]:
df_cc.dropna(inplace=True)
df_cc.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [39]:
df_cc['Class'].value_counts()

0.0    12785
1.0       56
Name: Class, dtype: int64

## Variáveis globais

In [40]:
df_cc2 = df_cc.copy()

In [41]:
i_CV = 10 # Número de Cross-Validations
i_Seed = 20119974 # Semente
f_Test_Size = 0.3 # Proporção do dataframe de validação

## Definir amostras de treinamento e teste

In [42]:
df_X = df_cc2.drop(columns=['Class']) # Dataframe SOMENTE COM AS PREDITORAS -> Não pode conter a variável 'Class'
df_Y = df_cc2['Class'] # Variável resposta

In [43]:
df_Y.value_counts()

0.0    12785
1.0       56
Name: Class, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_Y, test_size = f_Test_Size, random_state = i_Seed)

In [23]:
X_treinamento.shape

(8988, 30)

In [24]:
X_teste.shape

(3853, 30)

## Ajusta o modelo

In [44]:
ml_DT= DecisionTreeClassifier(max_depth = 5, 
                              min_samples_split = 2, 
                              random_state = i_Seed)
ml_DT

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=20119974, splitter='best')

## Treinar o algoritmo

In [45]:
ml_DT.fit(X_treinamento, y_treinamento)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=20119974, splitter='best')

In [46]:
# Cross-Validation com 10 folds
a_scores_CV = cross_val_score(ml_DT, X_treinamento, y_treinamento, cv = i_CV)

print(f'Média das Acurácias calculadas pelo CV....: {100*round(a_scores_CV.mean(),4)}')
print(f'std médio das Acurácias calculadas pelo CV: {100*round(a_scores_CV.std(),4)}')

Média das Acurácias calculadas pelo CV....: 99.87
std médio das Acurácias calculadas pelo CV: 0.13